tomcat.manager.url=http://localhost:8080/manager/text
tomcat.manager.username=
tomcat.manager.password=
database.username=
database.password=
database.url=jdbc:mysql://localhost:3306/frickl
project.name=
deploy.name=
api.version=
